app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #!/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f microservice-kubernetes-demo/microservices.yaml

    kubectl expose deployment apache -n ${ROOST_NAMESPACE} --type=NodePort --name=apachenode
    kubectl expose deployment catalog -n ${ROOST_NAMESPACE} --type=NodePort --name=catalognode
    kubectl expose deployment customer -n ${ROOST_NAMESPACE} --type=NodePort --name=customernode
    kubectl expose deployment order -n ${ROOST_NAMESPACE} --type=NodePort --name=ordernode
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-12-26T05:52:01.295Z
