app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |
    #!/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f microservice-kubernetes-demo/microservices.yaml
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2022-11-07T09:20:42.764Z
